{% extends "base_generic.html" %}
{% load todo_template_filters %}
{% load static %}
{% block stylesheet %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'myuser/css/datepicker.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock stylesheet %}
{% block content %}

<div class="row bg-warning">
  <div class="mt-2 text-center">
    <h3>Hello {{user}}, Your Todo List</h3>
  </div>
</div>

<div class="container" id="dashboard-container">
  <div class="row bg-dark fixed-bottom">
    <div class="text-center">
      <div class="" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group m-2" role="group" aria-label="First Action Group">
          <button type="button" class="btn btn-success" title="Create Todo List" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus-square"></i>
          </button>
          <button type="button" class="btn btn-warning" title="Edit Todo List" data-button-box="todo-edit" disabled data-bs-toggle="modal" data-bs-target="#editTodoModal" data-todoid=""> 
            <i class="bi bi-pencil-square"></i>
          </button>
          <button type="button" class="btn btn-danger" title="Delete Todo List" data-button-box="todo-delete" disabled>
            <i class="bi bi-dash-square"></i>
          </button>
        </div>
        <div class="btn-group m-2" role="group" aria-label="Second Action Group">
          <a href={% url 'todo:todo' %} target="_self">
            <button type="button" class="btn btn-primary" title="Todo Dashboard"> 
              <i class="bi bi-arrow-up-square"></i>
            </button>
          </a>
          <button type="button" class="btn btn-info" title="User Account">
            <i class="bi bi-person-bounding-box"></i>
          </button>
        </div>
        <div class="btn-group m-2" role="group" aria-label="Third Action group">
          <a href="{% url 'myauth:logout' %}" target="_self">
            <button type="button" class="btn btn-secondary" title="Logout">
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 row justify-content-center">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for todo in todo_qs %}
        <div class="col-sm-6">
          {% concat "card-" todo.id as card_id %}
          <div class="card" id="{{card_id}}" data-todoid="{{todo.id}}">
            <div class="card-header text-center">
              <div class="input-group">
                <div class="input-group-text">
                  {% concat "todo-cb-id-" todo.id as todo_cb_id %}
                  <input class="form-check-input mt-0" type="checkbox" value="" id="{{ todo_cb_id }}" data-checkbox="todo-cb" data-todoid="{{todo.id}}">
                </div>
                <input type="text" class="form-control text-center" value="{{todo.title}}" data-todo-title="{{todo.title}}" disabled>
                <input type="text" class="form-control" value="{{todo.due_date}}" data-todo-duedate="{{item.due_date}}" disabled hidden>
                <div class="input-group-text">
                  <div class="form-switch">
                    {% add_boolean_attr todo.done "checked" as todo_cb_attr %}
                    <input class="form-check-input" type="checkbox" role="switch" {{todo_cb_attr}}>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% for item in todo.todoitem_set|get_related_query_set %}
                <div class="input-group">
                  <div class="input-group-text mb-2">
                    {% concat todo.id item.id as item_id %}
                    <input class="form-check-input mt-0" type="checkbox" value="" id="{{ item_id }}" data-checkbox="item-cb" data-todoid="{{todo.id}}" data-todo-itemid="{{item.id}}">
                  </div>
                  <input class="form-control mb-2" data-todo-item-title="{{item.title}}" value="{{ item.title }}" data-todo-itemid="{{item.id}}" readonly>
                  <input class="form-control mb-2" data-todo-item-duedate="{{item.due_date}}" value="{{ item.due_date }}" data-todo-itemid="{{item.id}}" readonly hidden>
                  <div class="input-group-text mb-2">
                    <div class="form-switch">
                      {% add_boolean_attr item.done "checked" as cb_attr %}
                      <input class="form-check-input" type="checkbox" role="switch" {{cb_attr}} data-todo-itemid="{{item.id}}">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="card-footer text-muted text-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" title="Add Todo Item" data-button-box="item-add" data-bs-toggle="modal" data-bs-target="#itemModal" data-bs-todoid="{{todo.id}}">
                  <i class="bi bi-plus-square"></i>
                </button>
                <button type="button" class="btn btn-warning" title="Edit Todo Item" data-button-box="item-edit" disabled data-bs-toggle="modal" data-bs-target="#itemEditModal" data-bs-todoid="{{todo.id}}">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger" title="Delete Todo Item" data-button-box="item-delete" disabled data-todoid="{{todo.id}}">
                  <i class="bi bi-dash-square"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mb-5 row">
  </div>
</div>
  <!-- Modal -->
  <!-- Modal to add todo list -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Todo List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action={% url 'todo:todo' %} method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <!--
            <div class="mb-3">
              <h1 class="h3 mb-3 mt-3 font-weight-normal">Log in</h1>
            </div>
            -->
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input name="title" type="text" class="form-control" id="title" required>
            </div>
            <div class="mb-3">
              <label for="due_date" class="form-label">Due Date</label>
              <input name="due_date" type="text" class="form-control" id="due_date" required readonly placeholder='Select Due Date'>
            </div>
            <div class="mb-3">
              <button type="submit" class="w-100 btn btn-lg btn-warning">Create</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal to edit todo list -->
  <div class="modal fade" id="editTodoModal" tabindex="-1" aria-labelledby="editTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Update Todo List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action={% url 'todo:update_todo' %} method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <!--
            <div class="mb-3">
              <h1 class="h3 mb-3 mt-3 font-weight-normal">Log in</h1>
            </div>
            -->
            <div class="mb-3">
              <label for="edit_todo_id" class="form-label">Todo Id</label>
              <input name="todo_id" type="text" class="form-control" id="edit_todo_id" required readonly>
            </div>
            <div class="mb-3">
              <label for="edit_todo_title" class="form-label">Title</label>
              <input name="title" type="text" class="form-control" id="edit_todo_title" required>
            </div>
            <div class="mb-3">
              <label for="edit_todo_due_date" class="form-label">Due Date</label>
              <input name="due_date" type="text" class="form-control" id="edit_todo_due_date" required readonly placeholder='Select Due Date'>
            </div>
            <div class="mb-3">
              <button type="submit" class="w-100 btn btn-lg btn-warning">Update</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal to add todo list item -->
  <div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="itemModalLabel">Add todo item.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action={% url 'todo:todo_item' %} method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <!--
            <div class="mb-3">
              <h1 class="h3 mb-3 mt-3 font-weight-normal">Log in</h1>
            </div>
            -->

            <div class="mb-3">
              <label for="todo_list_id" class="form-label">Todo Id</label>
              <input name="todo_list_id" type="text" class="form-control" id="todo_list_id" required readonly>
            </div>
            <div class="mb-3">
              <label for="item_title" class="form-label">Title</label>
              <input name="item_title" type="text" class="form-control" id="item_title" required>
            </div>
            <div class="mb-3">
              <label for="item_due_date" class="form-label">Due Date</label>
              <input name="item_due_date" type="text" class="form-control" id="item_due_date" required readonly placeholder='Select Due Date'>
            </div>
            <div class="mb-3">
              <button type="submit" class="w-100 btn btn-lg btn-warning">Create</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal to edit todo list item -->
  <div class="modal fade" id="itemEditModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="itemModalLabel">Edit Todo Item.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action={% url 'todo:update_todo_item' %} method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <!--
            <div class="mb-3">
              <h1 class="h3 mb-3 mt-3 font-weight-normal">Log in</h1>
            </div>
            -->

            <div class="mb-3">
              <label for="edit_item_id" class="form-label">Todo Item Id</label>
              <input name="item_id" type="text" class="form-control" id="edit_item_id" required readonly>
            </div>
            <div class="mb-3">
              <label for="edit_item_title" class="form-label">Title</label>
              <input name="item_title" type="text" class="form-control" id="edit_item_title" required>
            </div>
            <div class="mb-3">
              <label for="edit_item_due_date" class="form-label">Due Date</label>
              <input name="item_due_date" type="text" class="form-control" id="edit_item_due_date" required readonly placeholder='Select Due Date'>
            </div>
            <div class="mb-3">
              <button type="submit" class="w-100 btn btn-lg btn-warning">Update</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'myuser/js/datepicker-full.js' %}"></script>
  <script src="{% static 'myuser/js/en-GB.js' %}"></script>
  <script type="text/javascript">
      elem = document.querySelector('#due_date');
      const datepicker = new Datepicker(elem, {
      // options here
          // Whether or not to close the datepicker immediately when a date is selected.
          autohide:true,
          // The string that will appear on top of the datepicker. If empty the title will be hidden.
          title: '',
          // If true, highlights the current date.
          todayHighlight: true,
          // If true, no keyboard will show on mobile devices.
          //this option does not work
          disableTouchKeyboard: true,
          // Date format string.
          format: 'dd/mm/yyyy',
          // Maximum limit to selectable date. No limit is applied if null is set.
          maxDate: null,
          // Minimum limit to selectable date. No limit is applied if null is set.
          minDate: null,
      });

      elem2 = document.querySelector('#item_due_date');
      const datepicker2 = new Datepicker(elem2, {
      // options here
          // Whether or not to close the datepicker immediately when a date is selected.
          autohide:true,
          // The string that will appear on top of the datepicker. If empty the title will be hidden.
          title: '',
          // If true, highlights the current date.
          todayHighlight: true,
          // If true, no keyboard will show on mobile devices.
          //this option does not work
          disableTouchKeyboard: true,
          // Date format string.
          format: 'yyyy/mm/dd',
          // Maximum limit to selectable date. No limit is applied if null is set.
          maxDate: null,
          // Minimum limit to selectable date. No limit is applied if null is set.
          minDate: null,
      });
      //elem.addEventListener('keydown', function(e){ 
        //e.preventDefault();
      //});

      /*
        Important: Why no listener was added for exampleModal? For other Modal there is listener.
        Reason listner is added because we needed to update the fields in the Modal when it is visible to user.
        For example Modal there is no modal field to be updated.
      */
      const editTodoModal = document.getElementById('editTodoModal');
      editTodoModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        //console.log(event.target);
        //console.log(event.relatedTarget);
        // Extract info from data-bs-* attributes
        const todoListId = button.getAttribute('data-todoid');
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        //const modalTitle = itemModal.querySelector('.modal-title')
        //const todoListIdInput = itemModal.querySelector('#todo_list_id');

        //modalTitle.textContent = `New message to ${recipient}`
        //todoListIdInput.value = todoListId;
        //Get Modal Input elements
        let todoIdInput = editTodoModal.querySelector('#edit_todo_id');
        let todoTitleInput = editTodoModal.querySelector('#edit_todo_title');
        let todoDuedateInput = editTodoModal.querySelector('#edit_todo_due_date');

        let cardid="card-"+todoListId;
        let card=document.getElementById(cardid);
        let checkBox = card.querySelector('[data-checkbox="todo-cb"]');
        let titleLabel = card.querySelector('[data-todo-title]');
        let dueDateLabel = card.querySelector('[data-todo-duedate]');
        todoIdInput.value = checkBox.dataset.todoid;
        todoTitleInput.value = titleLabel.dataset.todoTitle;
        todoDuedateInput.value = dueDateLabel.dataset.todoDuedate;
      })

      const itemModal = document.getElementById('itemModal');
      itemModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        //console.log(event.target);
        //console.log(event.relatedTarget);
        // Extract info from data-bs-* attributes
        const todoListId = button.getAttribute('data-bs-todoid');
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        //const modalTitle = itemModal.querySelector('.modal-title')
        const todoListIdInput = itemModal.querySelector('#todo_list_id');

        //modalTitle.textContent = `New message to ${recipient}`
        todoListIdInput.value = todoListId;
      })


      const itemEditModal = document.getElementById('itemEditModal');
      itemEditModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        //console.log(event.target);
        //console.log(event.relatedTarget);
        // Extract info from data-bs-* attributes
        const todoListId = button.getAttribute('data-bs-todoid');
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        //const modalTitle = itemModal.querySelector('.modal-title')
        let itemIdInput = itemEditModal.querySelector('#edit_item_id');
        let itemTitleInput = itemEditModal.querySelector('#edit_item_title');
        let itemDuedateInput = itemEditModal.querySelector('#edit_item_due_date');
        //modalTitle.textContent = `New message to ${recipient}`
        //todoListIdInput.value = todoListId;

        if(button.dataset.buttonBox === "item-edit"){
          let cardid="card-"+todoListId;
          let card=document.getElementById(cardid);
          let checkBox = card.querySelector('input:checked');
          let selectedItemId = checkBox.dataset.todoItemid;
          let titleLabel = card.querySelector(`[data-todo-item-title][data-todo-itemid="${selectedItemId}"]`);
          let dueDateLabel = card.querySelector(`[data-todo-item-duedate][data-todo-itemid="${selectedItemId}"]`);
          itemIdInput.value = checkBox.dataset.todoItemid;
          itemTitleInput.value = titleLabel.dataset.todoItemTitle;
          itemDuedateInput.value = dueDateLabel.dataset.todoItemDuedate;
        }
      })


      //Register click event for all todolist checkboxes
      const todoCheckboxes = document.querySelectorAll('[data-checkbox="todo-cb"]');
      todoCheckboxes.forEach(todo => {
        todo.addEventListener('click',processTodoCheckBoxClick);
      });
      //Register click event for all item checkboxes
      const itemCheckboxes = document.querySelectorAll('[data-checkbox="item-cb"]');
      itemCheckboxes.forEach(item => {
        item.addEventListener('click',processItemCheckBoxClick);
      });

      //Only when one check box is checked todolist edit button will be enabled.
      //If more than zero checkbox checked todolist delete button is enabled
      //If zero or more than one checkbox is checked edit button will be disabled.
      //By default todolist edit and delete buttons are disabled at start.
      function processTodoCheckBoxClick(event){
        const todoCheckboxes = document.querySelectorAll('input[data-checkbox="todo-cb"]:checked');
        let selectedTodoCb = todoCheckboxes.item(0);
        //console.log(selectedTodoCb);
        const todoEditButton = document.querySelector('[data-button-box="todo-edit"]');
        let todoDeleteButton = document.querySelector('[data-button-box="todo-delete"]');
        //enable disable todolist edit button
        if(todoCheckboxes.length === 1){
          todoEditButton.disabled=false;
          todoEditButton.dataset.todoid = selectedTodoCb.dataset.todoid;
        }else{
          todoEditButton.disabled = true;
          todoEditButton.dataset.todoid = "";
        }
        //enable disable todolist delete button
        if(todoCheckboxes.length > 0){
          todoDeleteButton.disabled=false;
        }else{
          todoDeleteButton.disabled = true;
        }
      }

      //Only when one check box is checked edit button will be enabled.
      //If one or more check box is checked delete button will be enabled.
      //If zero or more than one checkbox is checked edit button will be disabled.
      //By default all edit and delete buttons are disabled at start.
      function processItemCheckBoxClick(event){
        let elem=event.currentTarget;
        let cardid="card-"+elem.dataset.todoid;
        let card=document.getElementById(cardid);
        let checkedItems = card.querySelectorAll('input:checked')
        let itemEditButton = card.querySelector('[data-button-box="item-edit"]');
        let itemDeleteButton = card.querySelector('[data-button-box="item-delete"]');
        if(checkedItems.length === 1){
          itemEditButton.disabled=false;
        }else{
          itemEditButton.disabled = true;
        }

        if(checkedItems.length > 0){
          itemDeleteButton.disabled=false;
        }else{
          itemDeleteButton.disabled = true;
        }
      }

      //Register click event for  todo delete button
      let todoDeleteButtons = document.querySelectorAll('[data-button-box="todo-delete"]');
      todoDeleteButtons.forEach(todo => {
        todo.addEventListener('click',processTodoDelete);
      });

      function processTodoDelete(event){
        //event.preventDefault();
        let elem=event.currentTarget;
        //let cardid="card-"+elem.dataset.todoid;
        //let card=document.getElementById(cardid);
        //const checkedItems = card.querySelectorAll('input:checked')
        let todoCheckedboxes = document.querySelectorAll('input[data-checkbox="todo-cb"]:checked');
        var todos=[];
        var todoId="todoid";
        if(todoCheckedboxes.length > 0){
          for(let i = 0; i< todoCheckedboxes.length; i++){
            todos.push({[todoId] : todoCheckedboxes[i].dataset.todoid});
          }
          var postData={};
          postData.todos = todos;
          let jsonedPostData = JSON.stringify(postData);
          let httpRequest = new XMLHttpRequest();
          httpRequest.onreadystatechange = processResponse;
          httpRequest.onload = loadPage;
          httpRequest.open('POST','{% url 'todo:delete_todo' %}');
          httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
          httpRequest.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          httpRequest.send(jsonedPostData);

          function processResponse(){
            if(httpRequest.readyState === XMLHttpRequest.DONE){
              if(httpRequest.status === 200){
                //console.log(httpRequest.responseText);
              }else{
                //console.log("Some Error");
                //console.log(httpRequest.responseText);
              }
            }
          }
          function loadPage(){
            document.location.reload();
          }
        }
      }

      //Register click event for all item delete button click.
      const itemDeleteButtons = document.querySelectorAll('[data-button-box="item-delete"]');
      itemDeleteButtons.forEach(item => {
        item.addEventListener('click',processItemDelete);
      });

      function processItemDelete(event){
        //event.preventDefault();
        let elem=event.currentTarget;
        let cardid="card-"+elem.dataset.todoid;
        let card=document.getElementById(cardid);
        const checkedItems = card.querySelectorAll('input:checked')
        var items=[];
        var itemId="itemid";
        if(checkedItems.length > 0){
          for(let i = 0; i< checkedItems.length; i++){
            //if data attribute name in element is data-todo-itemid, then
            //to access it in javascript us element.dataset.todoItemid
            items.push({[itemId] : checkedItems[i].dataset.todoItemid});
          }
          var postData={};
          postData.items = items;
          let jsonedPostData = JSON.stringify(postData);
          let httpRequest = new XMLHttpRequest();
          httpRequest.onreadystatechange = processResponse;
          httpRequest.onload = loadPage;
          httpRequest.open('POST','{% url 'todo:delete_todo_item' %}');
          httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
          httpRequest.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          httpRequest.send(jsonedPostData);

          function processResponse(){
            if(httpRequest.readyState === XMLHttpRequest.DONE){
              if(httpRequest.status === 200){
                //console.log(httpRequest.responseText);
              }else{
                //console.log("Some Error");
                //console.log(httpRequest.responseText);
              }
            }
          }
          function loadPage(){
            document.location.reload();
          }
        }
      }

  </script>
{% endblock script %}
