.form-signin {
  width: 100%;
  max-width: 330px;
  /*padding: 15px;
  margin: auto;
  */
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 75%;
  color: rgb(0, 0, 0, .5);
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px ridge #000;
  border-bottom-color: rgb(0, 0, 0, .15);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
